# Python bytecode files
*.pyc
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db